# Configuración de Ansible para el proyecto ChirpStack.
# Ansible lee este archivo automáticamente cuando ejecutas comandos
# desde esta carpeta.

[defaults]
# Dónde está la lista de servidores a gestionar.
inventory = inventory/hosts.yml

# Carpeta donde Ansible busca los roles.
roles_path = roles

# Evita el aviso de "fingerprint" de SSH la primera vez (cómodo en laboratorio).
host_key_checking = False

# Deja que Ansible detecte solo el Python del servidor remoto.
interpreter_python = auto_silent

[privilege_escalation]
# Ejecuta las tareas con sudo en el servidor remoto (necesario para instalar paquetes).
become = True
become_method = sudo
